name: tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
          cache: 'npm'
      - run: npm install
      - run: npm run typecheck
      - run: npm run coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
